services:
  web:
    build:
      context: .
      dockerfile: ./Dockerfile
    ports:
      - 8000:8000
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    command: > 
      sh -c "python manage.py makemigrations --no-input && 
      python manage.py migrate --no-input && 
      python manage.py populate_dummy_data &&
      python manage.py runserver 0.0.0.0:8000"
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
  db:
    image: postgres:14-alpine
    env_file:
      - .env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    expose:
      - "5432"
    restart: always
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -h db -p 5432 -U forumuser"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: 
  static_volume:
  media_volume:
